/*.aux
/*.dvi
/*.fdb_latexmk
/*.idx
/*.ilg
/*.ind
/*.log
/*.o
/*.out
/*.pdf
/*.toc
/mesh_statistics.txt
/mesh_statistics_launch.tex
/psopt_solution_launch.txt
/*.dat
*~
/launch
/simple
/launch.txt
/gnuplot.scp
/error_message.txt
